<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Esala</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Esala template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block links %} {% endblock %}
</head>
<body>

<div class="super_container">

    <!-- Header -->

    <header class="header">
        <div class="header_overlay"></div>
        <div class="header_content d-flex flex-row align-items-center justify-content-start">
            <div class="logo">
                <a href="{% url 'store' %}">
                    <div class="d-flex flex-row align-items-center justify-content-start">
                        <div><img src="{% static 'images/logo_1.png' %}" alt=""></div>
                        <div>Esala</div>
                    </div>
                </a>
            </div>

            <nav class="main_nav">
                <ul class="d-flex flex-row align-items-start justify-content-start">
                    <li><a href="{% url 'category' category_id=1 %}">Women</a></li>
                    <li><a href="{% url 'category' category_id=2 %}">Men</a></li>
                    <li><a href="{% url 'category' category_id=3 %}">Kids</a></li>
                </ul>
            </nav>

            <div class="header_right d-flex flex-row align-items-center justify-content-start ml-auto">
                <!-- User -->
                <div class="products_dropdown user_dropdown_sorting">
                    <div class="user">
                        <div><img src="{% static 'images/user.svg' %}" alt=""></div>
                    </div>
                    <ul>
                        {% if request.user.is_authenticated %}
                        <li><a href="#">{{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}">Sign Out</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Sign In</a></li>
                        <li><a href="{% url 'registrate' %}">Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>

                <!-- Cart -->
                <div class="cart">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'cart' %}">
                        <div><img class="svg" src="{% static 'images/cart.svg' %}" alt=""></div>
                    </a>
                    {% else %}
                    <a href="{% url 'login' %}">
                        <div><img class="svg" src="{% static 'images/cart.svg' %}" alt=""></div>
                    </a>
                    {% endif %}
                </div>
                <!-- Phone -->
                <div class="header_phone d-flex flex-row align-items-center justify-content-start">
                    <div>
                        <div><img src="{% static 'images/phone.svg' %}" alt=""></div>
                    </div>
                    <div>MY TELEPHONE</div>
                </div>
            </div>
        </div>
    </header>

    <div class="super_container_inner">

        {% block content %} {% endblock %}

    </div>

</div>

{% block scripts %} {% endblock %}
</body>
</html>