{% load static %}
{% load get_range %}
<div class="product">
    <div class="product_image">
        <a href="{{ item.get_absolute_url }}">
            <img src=" {{ item.image.url }} " alt="">
        </a>
    </div>
    <div class="product_content">
        <div class="product_info d-flex flex-row align-items-start justify-content-start">
            <div>
                <div>
                    <div class="product_name"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></div>
                    <div class="product_category">In <a href="{% url 'product' item.pk %}">Category</a></div>
                </div>
            </div>
            <div class="ml-auto text-right">
                <div class="rating_r rating_r_4 home_item_rating">
                    {% for i in 0|get_range:item.rate %}
                    <i></i>
                    {% endfor %}
                </div>
                <div class="product_price text-right">${{ item.price }}</div>
            </div>
        </div>
        <div class="product_buttons">
            <div class="text-right d-flex flex-row align-items-start justify-content-start">
                <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <div><img src="{% static 'images/heart_2.svg' %}" class="svg" alt="">
                            <div>+</div>
                        </div>
                    </div>
                </div>
                <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                    <div>
                        <div><a href="{{ item.get_add_to_cart_url }}"><img src="{% static 'images/cart.svg' %}" class="svg" alt=""></a>
                            <div>+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
